	body {

		background: url("images/background.png") no-repeat center center fixed; 
			background-size: cover;
	}

		.bodyfont {
			font: 12pt Comfortaa;
			color: #000000;
	        padding: 5px
		}

		.calfont {
			font: 11pt Comfortaa;
			color: #000000;
	        padding: 5px
		}

		.bodyfontr {
			font: 12pt Comfortaa;
			color: #000000;
			text-align: right;
	        padding: 5px
		}		

		.footfontr {
			font: 9pt Comfortaa;
			color: #000000;
			text-align: right;
	        padding: 5px
		}		

		.lost {
			font: 30pt Economica;
			color: lime;
			text-align: center;
			background-color: #000000;
		}

		#leftc {
			background: #fffffc;
  			padding: 20px;
  			border-radius: 30px;
 			box-shadow: 3px 3px 15px #324383;
		}
		
		#rightc {
			background: #fffffc;
  			padding: 20px;
 			border-radius: 30px;
 			box-shadow: 3px 3px 15px #324383;
 			margin-bottom: 30px;
		}

		#guide {
			overflow-y: scroll;
  			overflow-x: hidden;
  			height: 1000px;
		}

		#wrapper {
	    	width: 1002px;
	    	margin: auto;
		}

		#leftc h1 {
			font: 12pt Comfortaa;
			color: #fffffc;
			text-align: left;
	        font-weight: bold;
			padding-right: 5px;
	        padding-bottom: 0px;
			border: 11px solid #6779F4;
	        background-color: #6779F4;
			line-height: 0px;
			margin-bottom: 7px;
			margin-top: -9px;
			margin-left: -8px;
			margin-right: 74px;
  			border-radius: 6px;
		}

		#rightc h1 {
			background-color: #A7557C;
			margin-bottom: 3px;
			font: 25pt Comfortaa;
			color: #fffffc;
			margin-top: 0px;
			text-align: left;
			letter-spacing: 1px;
			margin-left: -5px;
			margin-right: -5px;
			padding-left: 8px;
	        padding-bottom: 5px;
	        padding-top: 5px;
			font-weight: bold;
  			border-radius: 10px;        
		}		

		#rightc h2 {
	        font-family: Pacifico, Sacramento, sans-serif;
			color: #324383;
			text-align: center;
			font-size: 140px;
			margin-bottom: -40px;
	        margin-top: 0px;
		}

		#rightc h3 {
			font: 12pt Comfortaa;
			color: #fffffc;
			text-align: left;
	        font-weight: bold;
			padding-right: 5px;
	        padding-bottom: 0px;
			border: 11px solid #6779F4;
	        background-color: #6779F4;
			line-height: 0px;
			margin-bottom: 7px;
			margin-top: -9px;
			margin-left: 55px;
			margin-right: 74px;
  			border-radius: 6px;
		}

		#nav a:link, #nav a:visited {
			width:121px;
			height:33px;
			display:block;
			font-family:Comfortaa;
			font-size: 23;
			color:#F9EAE3;
			text-shadow: 2px 2px 3px #324383;
			text-decoration:none;
			text-align:center;
			vertical-align: middle;
			padding-top: 5px;	
  			border-radius: 30px;
  			box-shadow: 3px 3px 15px #324383;
		}

		#nav a:hover {
			background: url("https://i.imgur.com/LFBh3q0.png");
			color:#A7557C;
		}

		#nav {
			background-color: transparent;
	        display:block;
	        text-align:center;
	        height: 43px;
			width: 1000;
			margin-left: 1px;
		}

		#banner {
			height: 150px;
	        margin: auto;
			width: 1000px;
			top: -12px;
		}

		#navlinks {
			height: 43px;
	        margin: auto;
			width: 1000px;
			top: 8px;
		}

		#gaph {
			height: 30px;
	        margin: auto;
			width: 1000px;
		}


		b {
			color: #EFC57C;
			font-weight: bold;
		}

		u {
			color: #A7557C;
			font-weight: bold;
		}

		i {
			color: #5A5AE4;
			font-weight: bold;
			font-style: italic;
		}

		a:link, a:visited {
			color: #6779F4;
			font-weight: bold;
			transform: underline;
		}	

		a:hover {
			color: #5A5AE4;
			font-weight: bold;
			transform: underline;
		}

		table {
			background: none;
		}

		table a img, center p {
			height: 0px;
			width: 0px;
			overflow: hidden;
		}

		hr {
		    height: 1px;
			border-width: 0px;
			color:gray;
			background-color:gray;
			width:90%
		}

		div.item {
    		vertical-align: top;
		    display: inline-block;
		    text-align: center;
		    width: 100px;
		    padding: 25px;
		    padding-top: 10px;
		}

		.caption {
		    display: block;
		    padding-top: 5px;
		}

		::-webkit-scrollbar {
			width: 15px;
		}

		::-webkit-scrollbar-track {
			background: #344484;
		}

		::-webkit-scrollbar-thumb {
			background: #ECB579;
		}

		::-webkit-scrollbar-thumb:hover {
		 	background: #E29376;
		}

